/* -_- */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.btn {
  background: black;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: white;
  color: black;
}

.battleBtn {
  position: absolute;
  left: 50%;
  top: 80%;
  background: red;
  transform: translate(-50%, -50%);
}

.battleTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 84px;
  background: black;
  color: white;
  transform: translate(-50%, -50%);
}

.fadeToBlack {
  border: 5px solid transparent;
  animation: fadeToBlack 2s linear;
}

@keyframes fadeToBlack {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.water {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    315deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 98, 253, 1) 100%
  );
}
.fire {
  background: rgb(255, 233, 26);
  background: linear-gradient(
    315deg,
    rgba(255, 233, 26, 1) 0%,
    rgba(240, 58, 3, 1) 100%
  );
}
.grass {
  background: rgb(123, 255, 26);
  background: linear-gradient(
    315deg,
    rgba(123, 255, 26, 1) 0%,
    rgba(0, 131, 33, 1) 100%
  );
}
.electric {
  background: rgb(255, 248, 100);
  background: linear-gradient(
    315deg,
    rgba(255, 248, 100, 1) 0%,
    rgba(194, 192, 0, 1) 100%
  );
}
.normal {
  background: rgb(156, 156, 156);
  background: linear-gradient(
    315deg,
    rgba(156, 156, 156, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
}
.generic {
  background: rgb(204, 100, 255);
  background: linear-gradient(
    315deg,
    rgba(204, 100, 255, 1) 0%,
    rgba(91, 0, 194, 1) 100%
  );
}

.container {
  width: 100%;
  height: 100dvh;
  background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_7/SI_N64_PokemonStadium_image1600w.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pokemonContainer {
  display: grid;
  width: 80%;
  height: 80%;
  border: 1px sandybrown solid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
}
.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeCard {
  display: flex;
  align-items: flex-end;
}

.card {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 8px solid silver;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.276);
}

.card * {
  margin-bottom: 8px;
  text-transform: capitalize;
}

.card .deleteBtn {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translate(35%, -35%);
  border: 1px solid black;
  background: transparent;
  padding: 0;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
}

.stats {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: whitesmoke;
  padding: 24px;
  position: relative;
  transform: translateX(-12px) translateY(-4px);
  border-radius: 0 8px 8px 0;
}

.stats > progress {
  margin-bottom: 8px;
}

.card > .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card > .img {
  width: 100%;
  height: 250px;
  /* border: 1px solid black; */
  border-radius: 8px;
  background: whitesmoke;
}

.img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.attacks > .attack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card > .measurments {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
}

/*  */
.winner {
  background: green;
  color: red;
}

/* Fight divs and styles  */
.figtingPoke {
  display: flex;
  flex-direction: column;
  /* width: 400px;
  height: 600px; */
  padding: 12px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border: 2px solid silver;
  background: whitesmoke;
  align-self: center;
}

.figtingPoke .fighterImg {
  min-width: 300px;
  height: auto;
  object-fit: cover;
}

.battleProgress {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  background: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
